include src/Extra/Transect1.cpg
include src/Extra/Transect1.dbf
include src/Extra/Transect1.prj
include src/Extra/Transect1.shp
include src/Extra/Transect1.shx
include src/Extra/Intersections2.cpg
include src/Extra/Intersections2.dbf
include src/Extra/Intersections2.prj
include src/Extra/Intersections2.shp
include src/Extra/Intersections2.shx
include src/Extra/End Point Rate.jpg
include src/Extra/netshorelinemovement.png
include src/Extra/NetShorelineMovementErosionandAccretion.jpg
include src/Extra/shorleinechangeenvelope.jpg
include src/Extra/nsm.pkl
include src/Extra/nsmerrandaccdic.pkl
include src/Extra/scedic.pkl
include src/Extra/eprresults.pkl
include src/Extra/File_Organisation_Script.py
include src/Extra/QGISMergedShoreline.py
include README.md
include setup.py
include requirements.txt
