include PyShoreVolume/src/Example Data/*
include PyShoreVolume/src/Extra/File_Organisation_Script.py
include PyShoreVolume/src/Extra/QGISMergedShoreline.py
include PyShoreVolume/README.md
include PyShoreVolume/setup.py
include PyShoreVolume/requirements.txt
